header.heroSection {
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

header.heroSection h1,
header.heroSection p {
    text-align: center;
}

header.heroSection.secondary {
    background-color: var(--clr-black-05);
    padding-left: 10vw;
    padding-right: 10vw;
}

.textSection {
    padding-left: var(--section-textImg-padding-index);
    padding-right: var(--section-textImg-padding-index);
}

.servicesSection {
    padding-left: var(--section-services-padding-index);
    padding-right: var(--section-services-padding-index);
}

img.pc {
    display: none;
}

/* media */

/* text right */

@media all and (min-width: 600px) {
    .textSection img.mobile {
        display: none;
    }

    .textSection img.pc {
        display: block;
        width: 50%;
    }

    .textSection.right,
    .textSection.left {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: calc(2rem + var(--gap-index));

        padding-left: 10%;
        padding-right: 10%;
    }

    .textSection .whyUsDivider {
        margin-top: calc(1rem + var(--margin-index));
        margin-bottom: calc(1rem + var(--margin-index));
    }
}

