html {
    font-family: "Chivo Mono", monospace;
    font-size: var(--font-index);
    color: var(--clr-black-90);
}

body {
    margin: 0rem;
    overflow-x: hidden;
}

h1 {
    font-size: calc(var(--font-index) * var(--headings-index) * 3.5);
    margin-top: 0rem;
    margin-bottom: var(--margin-index);
}

h2 {
    font-size: calc(var(--font-index) * var(--headings-index) * 3);
    margin-top: 0rem;
    margin-bottom: calc(var(--margin-index) - 1.5rem);
}

h3 {
    font-size: calc(var(--font-index) * var(--headings-index) * 2.5);
    margin-top: 0rem;
    margin-bottom: calc(var(--margin-index) - 1.8rem);
}

h4 {
    font-size: calc(var(--font-index) * var(--headings-index) * 1.5);
    margin-top: 0rem;
    margin-bottom: calc(var(--margin-index) - 1.9rem);
}

hr {
    margin: 0rem;
}

.heroSection {
    padding-top: var(--padding-index);
    padding-bottom: var(--padding-index);
    margin-bottom: var(--sections-gap-index);

    background-color: var(--clr-white-70);

    z-index: 900;
}

section {
    margin-bottom: var(--sections-gap-index);
}

section:nth-of-type(2n) {
    background-color: var(--clr-black-05);
    padding-top: var(--section-2n-padding-index);
    padding-bottom: var(--section-2n-padding-index);
  }

section img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: center;
}

button.ctaBtn {
    margin-top: var(--margin-index);
    margin-bottom: var(--margin-index);
    background-color: var(--clr-black);
    padding-top: var(--padding-index);
    padding-bottom: var(--padding-index);
    padding-left: calc(0.1rem + var(--padding-index));
    padding-right: calc(0.1rem + var(--padding-index));
    border: 0.2rem solid var(--clr-black);
    border-radius: 0.5rem;
    color: var(--clr-white);
    font-size: var(--font-index-btn);
    transition: all var(--transition-normal);
    cursor: pointer;
}

button.ctaBtn:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    box-shadow: 0rem 0.2rem 1rem black;
    transform: translateY(-0.2rem);
}