/* hero */

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../data/images/homepage/heroImage.small.jpg);
    background-size: cover;
    background-position: 50%;
    background-blend-mode: lighten;
}

.heroSection h1 {
    text-align: center;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

.heroSection p {
    text-align: center;
    font-weight: 700;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

/* hero animations */


/* services */

section.servicesSection div.service {
    background-color: var(--clr-black-10);
    padding: calc(1rem + var(--padding-index));
    margin-bottom: calc(2.5rem + var(--margin-index));
    border: none;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem var(--clr-black-90);
}

section.servicesSection svg {
    height: 2.5rem;
    width: 2.5rem;
    padding-left: var(--padding-index);
    margin-bottom: var(--margin-index);
}

section.servicesSection h2 {
    text-align: center;
    margin-bottom: calc(1rem + var(--margin-index));
}

section.servicesSection h3 {
    margin-bottom: calc(-0.5rem + var(--margin-index));
}

section.servicesSection button {
    margin-top: calc(-0.7rem + var(--margin-index));
    margin-bottom: 0rem;
}

section.servicesSection h4 {
    text-align: center;
    margin-bottom: var(--margin-index);
    cursor: pointer;
    transition: all var(--transition-normal);
}

/* hover */

section.servicesSection h4:hover {
    color: var(--clr-black);
    text-shadow: 0.1rem 0.1rem 0.5rem var(--clr-black-10);
}

/* why us */

section.whyUsSection h3 {
    margin-top: var(--margin-index);
    margin-bottom: var(--margin-index);
}