/* hero */

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../data/images/homepage/heroImage.small.jpg);
    background-size: cover;
    background-position: 50%;
    background-blend-mode: lighten;
}

.heroSection h1 {
    text-align: center;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

.heroSection p {
    text-align: center;
    font-weight: 700;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

/* hero animations */
