nav {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: var(--padding-index);
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    margin-bottom: var(--padding-index);
    padding: 0;
}

nav ul li:first-of-type {
    margin-left: calc(0.1rem + var(--margin-index));
}

nav ul li:last-of-type {
    margin-right: calc(0.1rem + var(--margin-index));
}

nav ul li.logoLi a {
    display: flex;
    align-items: center;
    gap: var(--gap-index);
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: var(--clr-black-90);
}

nav svg {
    height: clamp(2rem, 2vw, 3.5rem);
    width: clamp(2rem, 2vw, 3.5rem);
}