nav {
    position: sticky;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    margin-top: var(--margin-index);
    margin-bottom: var(--margin-index);
    padding: 0;
}

nav ul li:first-of-type {
    margin-left: calc(0.1rem + var(--margin-index));
}

nav ul li:last-of-type {
    margin-right: calc(0.1rem + var(--margin-index));
}

nav ul li.logoLi a {
    display: flex;
    align-items: center;
    gap: var(--gap-index);
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: var(--clr-black-90);
}

nav svg {
    height: clamp(1.5rem, 2vw, 3rem);
    width: clamp(1.5rem, 2vw, 3rem);
}