:root {
    --clr-primary: #80DB4F;
    --clr-secondary: #DBD44F;
    --clr-gradient: 90deg, var(--clr-primary), var(--clr-secondary);

    --clr-white: #fffef8;

    --clr-white-70: rgba(255, 248, 248, 0.7);

    --clr-black: #1f231c;
    --clr-black-90: rgba(31, 35, 28, 0.9);
    --clr-black-75: rgba(31, 35, 28, 0.75);
    --clr-black-50: rgba(31, 35, 28, 0.5);
    --clr-black-25: rgba(31, 35, 28, 0.25);
    --clr-black-10: rgba(31, 35, 28, 0.1);
    --clr-black-05: rgba(31, 35, 28, 0.05);
    
    --clr-error: #DB684F;

    --padding-index: 1.5vw;
    --margin-index: 2vw;
    --gap-index: 1vw;
    --font-index: clamp(0.5rem, 2vw, 1rem);
    --headings-index: 1.2;

    --transition-normal: 0.3s;
}
