:root {
    --clr-primary: #80DB4F;
    --clr-secondary: #DBD44F;
    --clr-gradient: 90deg, var(--clr-primary), var(--clr-secondary);

    --clr-white: #fffef6;

    --clr-black: #2F362B;
    --clr-black-90: rgba(47, 54, 43, 0.9);
    --clr-black-75: rgba(47, 54, 43, 0.75);
    --clr-black-50: rgba(47, 54, 43, 0.5);
    --clr-black-25: rgba(47, 54, 43, 0.25);
    --clr-black-10: rgba(47, 54, 43, 0.1);
    --clr-black-05: rgba(47, 54, 43, 0.05);

    --clr-error: #DB684F;

    --padding-index: 1.5vw;
    --margin-index: 2vw;
    --gap-index: 1vw;
    --font-index: clamp(0.5rem, 2vw, 1rem);
}
