/* hero */

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../../data/images/homepage/heroImage.small.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}

.heroSection h1 {
    text-align: center;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

.heroSection p {
    text-align: center;
    font-weight: 700;
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
}

/* hero animations */


/* services */

section.servicesSection div.service {
    background-color: var(--clr-black-10);
    padding: calc(1rem + var(--padding-index));
    margin-bottom: calc(2.5rem + var(--margin-index));
    border: none;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem var(--clr-black-90);
}

section.servicesSection svg {
    height: 2.5rem;
    width: 2.5rem;
    padding-left: var(--padding-index);
    margin-bottom: var(--margin-index);
}

section.servicesSection h2 {
    text-align: center;
    margin-bottom: calc(1rem + var(--margin-index));
}

section.servicesSection h3 {
    margin-bottom: calc(-0.5rem + var(--margin-index));
}

section.servicesSection button {
    margin-top: calc(-0.7rem + var(--margin-index));
    margin-bottom: 0rem;
}

section.servicesSection h4 {
    text-align: center;
    margin-bottom: var(--margin-index);
    cursor: pointer;
    transition: all var(--transition-normal);
    cursor: pointer;
}

section.servicesSection h4 a {
    text-decoration: none;
    color: var(--clr-black-90);
}

/* hover */

section.servicesSection h4:hover {
    color: var(--clr-black);
    text-shadow: 0.1rem 0.1rem 0.5rem var(--clr-black-10);
}

/* why us */

section.whyUsSection h3 {
    margin-top: var(--margin-index);
    margin-bottom: var(--margin-index);
}

/* call to action */

.callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-index);
}

.callToAction h2 {
    text-align: center;
}

/* media */

@media all and (min-width: 600px) {
    .heroSection {
        background-image: url(../../data/images/homepage/heroImage.medium.jpg);
    }

    section.servicesSection .servicesPc {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: calc(0.5rem + var(--gap-index));

        margin-left: calc(0rem - var(--margin-index));
        margin-right: calc(0rem - var(--margin-index));
    }
}

/* why us media */

@media all and (min-width: 600px) {
    section.whyUsSection {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}